<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>

    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/mainStyle.css">
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/syntax.css">

<!--    <link rel="shortcut icon" href="http://www.metu.edu.tr/sites/all/themes/metu/favicon.ico" type="image/vnd.microsoft.icon" />-->
    <link rel="shortcut icon" href="http://ceng.metu.edu.tr/sites/all/themes/ceng/favicon.ico" type="image/vnd.microsoft.icon" />

      
  </head>

  <body>
    <nav>
<ul>
<li><a href="{{site.baseurl}}/">Home</a></li>
<li><a href="{{site.baseurl}}/about">About</a></li>
<li><a href="{{site.baseurl}}/cv">CV</a></li>
<li><a href="{{site.baseurl}}/blog">Blog</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:turkceprogramlamadili@gmail.com">email</a></li>
   <li><a href="https://github.com/turkceprogramlama">github.com/turkceprogramlama</a></li>
   </ul>
  </footer>
  </body>

</html>
